<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body class="login-body">

<div class="login-container">

    <div class="login-card">

        <h2>🎓 Student ERP</h2>
        <p class="subtitle">Attendance Management System</p>

        <form method="POST" action="/login">
            <input name="username" placeholder="Username" required>
            <input name="password" type="password" placeholder="Password" required>
            <button type="submit">Login</button>
        </form>

        <div class="divider">OR</div>

        <form method="POST" action="/register">
            <input name="username" placeholder="New Username" required>
            <input name="password" type="password" placeholder="New Password" required>
            <button type="submit" class="secondary">Register</button>
        </form>

    </div>

</div>

</body>
</html>